<div class="flex-col justify-center md:justify-normal">
  <!-- 1st Row -->
  <div class="flex space-x-5 mb-7 justify-between flex-col md:flex-row">
    <!-- Heading -->
    <div class="flex flex-col max-w-xs space-y-3 mb-5 self-center md:self-auto">
      <h1 class="text-6xl font-bold">Unleash The Gamer Within</h1>
      <h2 class="text-base text-slate-500">
        Start looking for a new game to play now!
      </h2>
      <div class="flex py-5">

        <input #searchInput class="flex-grow px-3 py-1 rounded-l-lg border-2 border-slate-700 focus:outline-none" type="text" (keyup.enter)="onSearch()">
        <button
        (click)="onSearch()"
        class="px-3 py-1 rounded-r-lg border-y-2 border-r-2 border-slate-700 text-slate-700">
          <span class="font-semibold">Search</span>
        </button>
      </div>
    </div>

    <!-- Top Rated Container -->
    <app-top-rated-list [games]="gameLists.get('top-rated')?.result!" />
  </div>

  <!-- 2nd Row -->
  <!-- <div class="flex flex-col space-y-6 justify-between md:flex-row md:space-y-0 md:space-x-5"> -->
  <div class="flex flex-col space-y-6 justify-between md:grid md:grid-cols-3 md:space-y-0 md:gap-x-36">

    <!-- Upcoming -->
    <app-new-release-list [games]="gameLists.get('new-release')?.result!"/>
    <app-most-anticipated-list [games]="gameLists.get('most-anticipated')?.result!"/>
    <app-most-popular-list [games]="gameLists.get('most-popular')?.result!"/>
  </div>
</div>
