<div class="container mx-auto px-8 py-5">
  <!-- 1st Row -->
  <div class="flex space-x-5 mb-5 justify-between">
    <!-- Heading -->
    <div class="max-w-xs space-y-3">
      <h1 class="text-6xl font-bold">Unleash the Gamer Within</h1>
      <h2 class="text-base text-slate-500">
        Start looking for a new game to play now!
      </h2>
    </div>

    <!-- Top Rated Container -->
    <app-top-rated-list />
  </div>

  <!-- 2nd Row -->
  <div class="flex space-x-5 justify-between">

    <!-- Upcoming -->
    <app-new-release-list />
    <app-most-anticipated-list />
    <app-most-popular-list />
  </div>
</div>
