<div class="relative container mx-auto flex px-8 py-5 justify-between">
  <!-- Logo -->
  <span class="text-3xl tracking-wider font-semibold">
    {{ constants.APP_TITLE.toUpperCase() }}
  </span>

  <!-- Links -->
  <nav class="hidden md:flex space-x-6">
    <a
      class="text-xl font-medium hover:text-slate-400"
      routerLinkActive="border-b-2 border-slate-800"
      routerLink="/home"
    >
      Home
    </a>
    <a
      class="text-xl font-medium hover:text-slate-400"
      routerLinkActive="border-b-2 border-slate-800"
      routerLink="/discover"
    >
      Discover
    </a>
    <a
      class="text-xl font-medium hover:text-slate-400"
      routerLinkActive="border-b-2 border-slate-800"
      routerLink="/watchlist"
    >
      Watchlist
    </a>
  </nav>
</div>
