<div class="flex flex-col space-y-1">
  <div class="flex justify-between items-baseline">
    <h2 class="text-xl font-semibold text-slate-800">Most Anticipated</h2>
    <a
      routerLink="/discover"
      [queryParams]="{ sort: 'hypes', desc: 'true' }"
      class="text-xs"
    >
      See More...
    </a>
  </div>
  <hr class="pb-5" />

  <div *ngIf="games !== null" class="flex flex-col space-y-6">
    <app-game-item-small [game]="game" *ngFor="let game of games">
      {{ game.first_release_date! * 1000 | date }}
      <br />
      {{ game.hypes }} Hypes
    </app-game-item-small>
  </div>

  <div *ngIf="games === null" class="flex flex-col space-y-6">
    <app-game-item-small />
    <app-game-item-small />
    <app-game-item-small />
  </div>
</div>
